@font-face {
    font-family: 'NotoMono';
    src: url('./fonts/Noto Mono Nerd Font Complete Mono.ttf');
}

* {
    font-family: NotoMono;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 65rem;
    margin: 0 auto;
    padding: 1rem;
    background: #7b86a1;
}

.logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAF9F6;
    margin-bottom: 3rem;
}

.logo-header__image {
    width: 3rem;
}

.logo-header__title {
    padding: 0 1rem;
    margin: 0px;
}

.search-bar {
    position: relative;
    top: 1rem;
    position: sticky;
    display: grid;
    border: 2px solid gray;
    border-radius: 3rem;
    margin: 0 5rem;
    overflow: clip;
    box-shadow: 0px 0px 4px black;
    transition: border 500ms;
}

.search-bar:focus-within {
    border-color: darkblue;
}

.search-bar__input {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    flex: 1;
    grid-area: 1 / 1;
}

.search-bar__input:focus {
    outline: none;
}


.search-bar__button {
    grid-area: 1 / 1;
    place-self: center end;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 2rem;
    padding: 0 1rem;
    background: transparent;
    cursor: pointer;
    color: gray;
    border-radius: 5rem;
}

.loader {
    display: none;
}

.member-list {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}

.member-list__item {
    background: #FAF9F6;
    display: grid;
    grid-template-columns: 1fr 1fr min-content;
    padding: 1rem;
}

.member-list__title, 
.member-list__description {
    display: flex;
    align-items: center;
    margin: 0px;
}

.member-list__title {
    white-space: nowrap;
}

.member-list__item:nth-child(even) {
    background: lightgray;
}

.member-list__column {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1rem;
}

.member-list__image {
    width: 8rem;
}

.paginator-container {
    bottom: 1rem;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator {
    display: flex;
    background: white;
    border-radius: 5rem;
    border: 2px solid gray;
    box-shadow: 0px 0px 4px black;
}

.paginator__form, 
.paginator__label {
    display: flex;
}

.paginator__span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
    cursor: pointer;
    user-select: none;
    transition: background 500ms;
}

.paginator__form input:checked ~ .paginator__span {
    background: lightgray;
}

.paginator__input {
    appearance: none;
    margin: 0;
    padding: 0;
}

.paginator__next,
.paginator__prev {
    font-size: 1.75rem;
    padding: 0 0.5rem;
    border: none;
    background: transparent;
    text-align: center;
    cursor: pointer;
}
